section.about {
    background-color: $skyBlue;
    img.author-img {
        width: 100%;
        height: 100%;
        border-bottom: 3px solid $darkColor;
        border-top: 3px solid $darkColor;
    }
    h1.author-name {
        font-family: $mainFont;
        font-weight: bold;
        text-align: center;
        &::before, &::after {
            font-size: 2rem;
            content: '-';
        }
    }
    
    p.about-me {
        width: 80%;
        padding: 5% 0;
        margin: 0 auto;
        text-align: justify;
        text-align-last: center;
    }
}