section.contact {
    background-color: $greyColor;
    h1 {
        text-align: center;
        letter-spacing: .4vh;
        font-family: $mainFont;
        font-weight: bold;
        font-size: 3rem;
        padding: $sectionSpace/2 0;
        border-bottom: 3px solid $casualBlue;
        text-transform: uppercase;
        &::first-letter {
            color: $bgColor;
            text-shadow: 1px 1px 1px $darkColor;
        }
    }
    .media-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        .social-media {
            flex-basis: 100%;
        
        }
        .media-text {
           margin-bottom: $sectionSpace;
        }
        .media-font {
            font-size: 6rem;
        }
        .facebook {
            color: rgb(0, 86, 247);
        }
        .mail {
            color: rgb(245, 63, 18);
        }
        .phone {
            color: rgb(48, 131, 0);
        }
    }   
}

@media (min-width: 1024px) {
    section.contact {
        .media-wrapper {
            flex-wrap: nowrap;
            .social-media {
                flex-basis: 100% / 3;
            }
        } 
    }
}