section.contact {
    background-color: $greyColor;
    h1 {
        text-align: center;
        letter-spacing: .4vh;
        font-family: $mainFont;
        font-weight: bold;
        font-size: 3rem;
        padding: $sectionSpace/2 0;
        border-bottom: 3px solid $casualBlue;
        text-transform: uppercase;
        &::first-letter {
            color: $bgColor;
            text-shadow: 1px 1px 1px $darkColor;
        }
    }
    .media-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        .social-media {
            flex-basis: 100%;
        }
        .media-text {
           font-size: 2rem;
           color: $casualBlue;
           &:last-child {
               margin-bottom: $sectionSpace;
           }
        }
        .media-font {
            font-size: 7rem;
            color: $darkColor;
            animation: socialMedia 2s infinite;   
        }
    }   
}

@keyframes socialMedia {
    0% {
        text-shadow: -.3rem -.3rem 0 $casualBlue;
    }
    50% {
        text-shadow: -.1rem -.1rem 0 $casualBlue;
    }
    100% {
        text-shadow: -.3rem -.3rem 0 $casualBlue;
    }
}

@media (min-width: 1024px) {
    section.contact {
        .media-wrapper {
            flex-wrap: nowrap;
            .social-media {
                flex-basis: 100% / 3;
            }
        } 
    }
}