nav.main-nav {
    position: fixed;
    display: flex;
    align-items: center;
    top: 0;
    width: 100vw;
    height: 8vh;
    background-color: $darkColor;
    opacity: .9;
    z-index: 10;
    border-bottom: .2vh solid $primaryColor;
    box-shadow: 0 0 .8vh .2vh $primaryColor;
    transition: .3s;
    .nav-list {
        display: none;
        list-style: none;
    } h1 {
        font-size: 4vh;
        margin-left: 3vw;
        line-height: 8vh;
        color: lighten($greyColor, 10%);
        span {
            color: $primaryColor;
        }
    }
}
nav.modal-active {
    top: -8vh;
}
 ul.nav-list.dropdown {
     position: fixed;
     top: 3rem;
     display: flex;
     width: 100%;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     color: $bgColor;
     font-size: 1.5rem;
     li {
         padding: .7rem;
     }
 }
 .curtain {
     &::before {
         content: '';
         position: fixed;
         display:block;
         top:0;
         left:0;
         width: 100vw;
         height: 100vh;
         background-color: rgba(0,0,0,.9);
         z-index: 5;
     }
 }
.hamburger-btn {
    position: absolute;
    right: 5vw;
    margin: auto 0;
    .top-paddle, .middle-paddle, .bottom-paddle {
        width: 2rem;
        height: .3rem;
        background-color: $greyColor;
        border-radius: 1rem;
       // border: .2rem solid $darkColor;
    }
    .top-paddle {
        position: absolute;
        top: -.8rem;
        transition: .2s;
    }
    .bottom-paddle {
        position: absolute;
        bottom: -.8rem;
        transition: .2s;
    }
    &:hover .top-paddle,&:hover .middle-paddle,&:hover .bottom-paddle {
        cursor: pointer;
        background-color: $primaryColor;
    }
    &:hover {
        cursor: pointer;
    }
    &.active {
        .top-paddle {
            transform: rotate(45deg);
            top: 0;
            height: .5rem;
            border: none;
        }
        .middle-paddle {
            visibility: hidden;
        }
        .bottom-paddle {
            transform: rotate(-45deg);
            bottom: 0;
            height: .5rem;
            border: none;
        }
    }
}

nav.img-nav { height: 100vh; }

//***Media Queries***

@media (min-width: 540px) and (orientation: landscape) {
    nav.main-nav {
        height: 12vh;
        h1 {
            font-size: 6vh;
            line-height: 12vh;
        } 
    }
    .hamburger-btn {
        font-size: 6vh;
        line-height: 12vh;
    }
}

@media (min-width: 1024px) and (orientation: landscape) {
    nav.main-nav {
        display: flex;
        align-items: center;
        ul.nav-list {
            display: flex;
            flex-basis: 70%;
            justify-content: flex-end;
            font-size: 1.6rem;
            .item-list {
                margin-left: 4vh;
                width: 80% / 4;
                color: $greyColor;
                transition: .3s;
                // &:nth-child(2)::before, &:nth-child(2)::after {
                //     content: '';
                //     display: block;
                //     border: 1px solid $primaryColor;
                //     border-radius: 50%;
                // }
                &:hover {
                    cursor: pointer;
                    color: $primaryColor;
                    transform: scale(1.1) rotate(2deg);
                }
            }
        }
    }
    .hamburger-btn { display: none; }
}