nav.main-nav {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 8vh;
    background-color: $darkColor;
    opacity: .9;
    ul.nav-list {
        display: none;
        list-style: none;
    }
    h1 {
        font-size: 4vh;
        margin-left: 3vw;
        line-height: 8vh;
        color: lighten($greyColor, 10%);
    }
}

.hamburger-btn {
    font-size: 4vh;
    position: absolute;
    line-height: 8vh;
    right: 5vw;
    color: $greyColor;
}

nav.img-nav {
    height: 100vh;
}

@media (min-width: 1600px) {
    nav.main-nav {
        display: flex;
        align-items: center;
        ul.nav-list {
            display: flex;
            flex-basis: 80%;
            justify-content: flex-end;
            font-size: 3vh;
            .item-list {
                margin-left: 4vh;
                width: 80% / 4;
                color: $greyColor;
            }
        }
    }
    .hamburger-btn {
        display: none;
    }
}