section.offer {
    background-color: $primaryColor;
    h1 {
        text-align: center;
        letter-spacing: .4vh;
        font-family: $mainFont;
        font-weight: bold;
        font-size: 3rem;
        padding: $sectionSpace/2 0;
        border-bottom: 3px solid $darkColor;
        text-transform: uppercase;
        &::first-letter {
            color: $bgColor;
            text-shadow: 1px 1px 1px $darkColor;
        }
    }
    .main-offer {
        padding: $sectionSpace/2;
        .offer-title {
            text-align: left;
            text-shadow: 1px -1px 0 $bgColor,
                         -1px 1px 0 $bgColor,
                         1px 1px 0 $bgColor,
                        -1px -1px 0 $bgColor;
        }
    
        .main-btn {
            width: 50%;
            margin-right: 5%;
            margin-bottom: 5%;   
        }
        &:nth-of-type(odd) {
            background-color: lighten($primaryColor, 10%);
            button.main-btn {
                margin-right: 0;
                margin-left: 5%;
            }
            
        }
        &:nth-last-of-type(2) {
            border-bottom: 2px solid $darkColor;
        }
    }
    .description {
        width: 80%;
        text-align: center;
        padding: $sectionSpace 0;
        margin: 0 10%;
    }
    .modal {
        display: none;
        position: fixed;
        top: 20%;
        bottom: 20%;
        left: 10%;
        right: 10%;
        width: 80%;
        height: 60%;
        border-radius: 5px;
        background-color: $bgColor;
        color: $darkColor;
        z-index: 10;
        transition: 3s;
        box-shadow: .2rem .2rem .2rem 0 $supportColor;
        h3 {
            text-align: center;
            padding: 1rem 0 1rem 1rem;
            border-bottom: 3px solid $darkColor;

        }
        .info-wrapper {
            display: flex;
            justify-content: space-evenly;
        }
        .time-wrapper, .price-wrapper {
            display: flex;
            margin-bottom: 1rem;
            .fa-clock-o, .fa-money {
                display: block;
                font-size: 1.3rem;
                padding-left: .5rem;
            }
        }
        .fa-times-circle {
            position: absolute;
            font-size: 2rem;
            right: -1rem;
            top: -1.3rem;
            color: $greyColor;
            padding-left: 1rem;
        }
    }
    .active {
        display: block;
    }
    
}

//***Media Queries***
@media (min-width: 540px) {
    section.offer {
        h1 {
            font-size: 10vh;
        }
        .offer-wrapper {
            .price-list {
                h2 {
                font-size: 10vh;
                }
            }
            .main-offer ul {
                font-size: 8vh;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                padding: 3vh;
                li {
                    flex-basis: 50%;
                }
            }
        }
    }
}

@media (min-width: 1024px) {
    section.offer {
        h1 {
            font-size: 4rem;
            border-bottom: 3px solid $darkColor;
        } .offer-wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            border-bottom: .4vh solid $darkColor;
            .price-list {
                border-left: 1vh dotted $darkColor;
                width: 50%;
                h2 {
                    font-size: 5rem;
                    margin-bottom: 2rem;
                }
                .bonus-paragraph {
                    margin-top: $sectionSpace * 2;
                    .bonus-text {
                        font-size: 1.2rem;
                    }
                }
            }
            .main-offer {
                width:50%;
                h3 {
                    font-size: 3rem;
                    margin-bottom: $sectionSpace;
                }
                
            }
        }

    }
}