section.offer {
    background-color: $casualBlue;
    h1 {
        text-align: center;
        letter-spacing: .4vh;
        font-family: $mainFont;
        font-weight: bold;
        font-size: 3rem;
        padding: $sectionSpace/2 0;
        border-bottom: 3px solid $darkColor;
        text-transform: uppercase;
        &::first-letter {
            color: $bgColor;
            text-shadow: 1px 1px 1px $darkColor;
        }
    } .offer-wrapper {
        text-align: center;
        .price-list {
            margin: $sectionSpace/2 0;
            width: 100%;
            h2 {
                width: 100%;
                text-shadow: 1px 1px 1px $bgColor;
                
            } h3 {
                font-size: 4rem;
                width: 100%;
            }
        } .main-offer {
            h3 {
                margin-bottom: $sectionSpace/2;
                color: $bgColor;
                text-shadow: 1px 1px 1px $darkColor;
            }
            ul {
                font-size: 4vh;
                list-style: none;
                margin-top: $sectionSpace;
                li:nth-of-type(even){
                    text-shadow: 1px 1px 1px $darkColor;
                    color: $bgColor;
                }
                li:nth-of-type(odd){
                    text-shadow: 1px 1px 1px white;
                }
                li:last-of-type {
                    margin-bottom: 1.5vh;
                }
            }
        }
    }
    .bonus-paragraph {
        div {
            padding: .5rem .7rem;
            text-align: justify;
            text-align-last: center;
            &:last-child {
                padding-bottom: .2rem;
            }
        }
    }
}

//***Media Queries***

@media (min-width: 1024px) {
    section.offer {
        h1 {
            font-size: 4rem;
            border-bottom: 3px solid $darkColor;
        } .offer-wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            border-bottom: .4vh solid $darkColor;
            .price-list {
                border-left: 1vh dotted $darkColor;
                width: 50%;
                h2 {
                    font-size: 5rem;
                    margin-bottom: 2rem;
                }
                
            }
            .main-offer {
                width:50%;
                h3 {
                    font-size: 3rem;
                    margin-bottom: $sectionSpace;
                }
            }
        }

    }
}