section.offer {
    background-color: $casualBlue;
    h1 {
        text-align: center;
        letter-spacing: .4vh;
        font-family: $mainFont;
        font-weight: bold;
        font-size: 3rem;
        padding: $sectionSpace/2 0;
        border-bottom: 3px solid $darkColor;
        text-transform: uppercase;
        &::first-letter{
            color: $bgColor;
            text-shadow: 1px 1px 1px $darkColor;
        }
    }
    div {
        text-align: center;
        .price-list {
            margin-top: $sectionSpace/2;
            width: 100%;
        }
        .main-offer {
            h3 {
                margin-bottom: $sectionSpace/2;
                color: $bgColor;
                text-shadow: 1px 1px 1px $darkColor;
            }
            ul {
                font-size: 4vh;
                list-style: none;
                margin-top: $sectionSpace;
                li:nth-of-type(even){
                    text-shadow: 1px 1px 1px $darkColor;
                    color: $bgColor;
                }
                li:nth-of-type(odd){
                    text-shadow: 1px 1px 1px white;
                }
            }
        }
    }
    .bonus-paragraph {
        div {
            padding: .5rem .7rem;
            text-align: justify;
            text-align-last: center;
            &:last-child{
                padding-bottom: .2rem;
            }
        }
    }
}

@media (min-width: 1024px) {
    section.offer {
        h1 {
            text-align: center;
            font-family: $mainFont;
            font-weight: bold;
            font-size: 48px;
            border-bottom: 3px solid $darkColor;
        }
        div {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            .price-list {
                width: 70%;
                order: 2;
            }
            .main-offer {
                width:30%;
                order: 1;
                h3 {
                    margin-bottom: $sectionSpace;
                }
                
            }
        }

    }
}