@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&family=Oswald:wght@400;700&display=swap');
@import '_variables.scss';
@import '_mixins.scss';
@import '_header.scss';
@import '_nav.scss';
@import '_articles.scss';
@import '_about.scss';
@import '_offer.scss';
@import '_contact.scss';
@import '_footer.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $asideFont;
}

body {
    background-color: #000;
    overflow-x: hidden;
}

i {font-display: swap;}

.main-btn {
    @include btnDesign;
    transition: .3s;
    &:hover {
        background-color: darken($bgColor, 20%);
        cursor: pointer;
    }
}

@font-face {
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    src: local('Pacifico Regular'), local('Pacifico-Regular'), url(https://fonts.gstatic.com/s/pacifico/v12/FwZY7-Qmy14u9lezJ-6H6MmBp0u-.woff2) format('woff2');
    font-display: swap;
  }


@media (min-width: 700px) {
    body {
        font-size: 1.5rem;
    }
}