@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&family=Oswald:wght@400;700&display=swap');
@import '_variables.scss';
@import '_header.scss';
@import '_nav.scss';
@import '_articles.scss';
@import '_about.scss';
@import '_offer.scss';
@import '_contact.scss';
@import '_footer.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $asideFont;
}

body {
    background-color: $bgColor;
    overflow-x: hidden;
}
// TODO 
// - fix ham-btn middle paddle
// - project pretty contact section
// - slider.js
// - scrollTo.js
// - unhide single article in JS
/*
Obraz <a href="https://pixabay.com/pl/users/rhythmuswege-185829/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=285587"> Jürgen Rübig</a> z <a href="https://pixabay.com/pl/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=285587"> Pixabay</a>
Obraz <a href="https://pixabay.com/pl/users/Mariolh-62451/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=567021"> Mariolh</a> z <a href="https://pixabay.com/pl/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=567021"> Pixabay</a>
Obraz <a href="https://pixabay.com/pl/users/rhythmuswege-185829/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=285590"> Jürgen Rübig</a> z <a href="https://pixabay.com/pl/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=285590"> Pixabay</a>
Obraz <a href="https://pixabay.com/pl/users/whitesession-4645995/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2768833"> Angelo Esslinger</a> z <a href="https://pixabay.com/pl/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2768833"> Pixabay</a>
Obraz <a href="https://pixabay.com/pl/users/nnoeki-609630/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=589774"> Nico H.</a> z <a href="https://pixabay.com/pl/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=589774"> Pixabay</a>
Obraz <a href="https://pixabay.com/pl/users/kerdkanno-1334070/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=906141"> Seksak Kerdkanno</a> z <a href="https://pixabay.com/pl/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=906141"> Pixabay</a>
*/